* {
  padding: 0;
  border: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: 'Roboto',Serif;
  color: #f9f9f9;
  background-color: rgb(29, 22, 22);
  scroll-behavior: smooth;
  text-align: center
};

.main {
  display: flex;
}

h2 {
  margin-top: 2rem;
}

.inputContainer {
  padding: 2rem 0 0 0;
}

.input {
  padding: 0.8rem;
  width: 65%;
  border-radius: 20px;
}

.buttonContainer {
  width: 100%;
  padding: 2rem 0;
}

button {
  padding: 0.7rem;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #bfbebe;
}

button:active {
  color: #bfbebe;
  background-color: #544848;
}

.imageContainer {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.imageContainer.active {
  display: none;
}

.resultImage {
  border-radius: 15px;
  border: 1px solid rgb(216, 206, 206);
  height: 100%;
  width: auto;
}

/* Loading animation */

@keyframes bouncing {
  0% {
      transform: translate(0, 0px);
  }
  2.5% {
      transform: translate(0, -15px);
  }
  5% {
      transform: translate(0, 20px);
  }
  15% {
      transform: translate(0, -150px);
  }
  20% {
      transform: translate(0, 20px);
  }
  22.5% {
      transform: translate(0, -15px);
  }
  25% {
      transform: translate(0, 0);
  }
  27.5% {
      transform: translate(0, -15px);
  }
  30% {
      transform: translate(0, 20px);
  }
  40% {
      transform: translate(0, -200px);
  }
  45% {
      transform: translate(0, 20px);
  }
  47.5% {
      transform: translate(0, -15px);
  }
  50% {
      transform: translate(0, 0);
  }
  52.5% {
    transform: translate(0, -15px);
  }
  55% {
      transform: translate(0, 20px);
  }
  65% {
      transform: translate(0, -150px);
  }
  70% {
      transform: translate(0, 20px);
  }
  72.5% {
      transform: translate(0, -15px);
  }
  75% {
      transform: translate(0, 0);
  }
  77.5% {
      transform: translate(0, -15px);
  }
  80% {
      transform: translate(0, 20px);
  }
  90% {
      transform: translate(0, -200px);
  }
  95% {
      transform: translate(0, 20px);
  }
  97.5% {
      transform: translate(0, -15px);
  }
  100% {
      transform: translate(0, 0);
  }
}

.loadingContainer {
  width: 100%;
  height: 500px;
  display: none;
  justify-content: center;
  align-items: center;
}

.loadingContainer.active {
  display: inline-flex;
}

.circle_1,
.circle_2,
.circle_3,
.circle_4 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #bfbebe;
}

.circle_1 {
    animation: bouncing 9s ease-in;
}

.circle_2 {
    animation: bouncing 9s 0.1s ease-in;
}

.circle_3 {
    animation: bouncing 9s 0.2s ease-in;
}

.circle_4 {
    animation: bouncing 9s 0.3s ease-in;
}

